Repository scala/scala3, pull requests merged in 2025-09, with the labels that each got.

#23856 [chore] Update scala-cli to 1.9.0 (was 1.8.5)
  .github/workflows/lts-backport.yaml
  project/Build.scala
Labels: backport:nominated

#23962 Bump Scala CLI to v1.9.1 (was v1.9.0)
  .github/workflows/lts-backport.yaml
  project/Build.scala
Labels: release-notes, backport:nominated

#24073 Cleaner, quieter test rig tests
  compiler/test/dotty/tools/vulpix/ParallelTesting.scala
  compiler/test/dotty/tools/vulpix/VulpixUnitTests.scala
Labels: how-i-fixed-it
